{% extends 'layout.html' %}
{% block content %}
<div>
    <div class="container-fluid min-vh-75 bg-dark p-5">
        <div class="input-group input-group-lg w-75  ">
            <input type="text" class="form-control p-3 rounded-pill d-flex justify-content-center"
                   aria-label="Dollar amount (with dot and two decimal places)">
        </div>

        <div class="py-5 mt-5">
            <h1 class="text-white">SPACIOUS. <br> AFFORDABLE. <br> INSTANTLY RENTABLE.</h1>
            <h5 class="text-white">Short Term Rental Houses & Service Apartments</h5>
        </div>
        <button type="button" class="btn btn-light btn-lg rounded-pill px-4 mb-5">Discover more</button>
    </div>
    <div class="container-fluid min-vh-75 p-5">
        <h2 class="text-center"><b>Offers for you</b></h2>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">All</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Bank offers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Hot deals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Promotions</a>
                        </li>
                    </ul>
                    <span class="navbar-text">
                See all offers
              </span>
                </div>
            </div>
        </nav>

        <div class="row py-5">
            <div class="col-sm-6 mb-3 mb-sm-0 rounded-5">
                <div class="card text-bg-dark">
                    <img src="..." class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <p class="card-text"><small>Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="container-fluid row bg-warning py-5" style="--bs-bg-opacity: .5;">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">
            <h1><b>Our story in numbers</b></h1>
            <div class="container overflow-hidden text-center">
                <div class="row gy-5">
                    <div class="col-6">
                        <div class="p-3">Custom column padding</div>
                    </div>
                    <div class="col-6">
                        <div class="p-3">Custom column padding</div>
                    </div>
                    <div class="col-6">
                        <div class="p-3">Custom column padding</div>
                    </div>
                    <div class="col-6">
                        <div class="p-3">Custom column padding</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid min-vh-75 p-5">
        <h2 class="text-center"><b>Stay at our top unique properties</b></h2>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">All</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" >
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Bank offers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Hot deals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Promotions</a>
                        </li>
                    </ul>
                    <span class="navbar-text">
                See all offers
              </span>
                </div>
            </div>
        </nav>

        <div class="row py-5">
            <div class="col-sm-6 mb-3 mb-sm-0 rounded-5">
                <div class="card text-bg-dark">
                    <img src="..." class="card-img" alt="...">
                    <div class="card-img-overlay">
                        <p class="card-text"><small>Last updated 3 mins ago</small></p>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}